<ol>
  <li>
    <%= f.label 'Parent node:' %>
    <%= f.text_field :parent %>
  </li>
  <li>
    <%= f.label 'Previous node:' %>
    <%= f.text_field :prev_sib %>
  </li>
  <li>
    <%= f.label 'Next node:' %>
    <%= f.text_field :next_sib %>
  </li>
</ol>
