<div id="header-navbar-fixed-top" class="navbar navbar-fixed-top">  

  <%= render :partial => 'shared/iu_header' %>

  <div id="pmp-navbar-inner" class="navbar-inner">
    <div class="container"> 
      <div class="row">
        <div id="pmp-title" class="span4">
          <%= link_to application_name, root_path, :class => "brand-name" %>
        </div>
        <div class='span1'>
          <%= link_to 'Browse', pageds_path, class: 'pull-right pmp-util-links' %>
        </div>
        <div class="span5 clearfix" id="searchbar">
          <%= render_search_bar  %>
        </div>
        <div class="span2" id="userutils">
          <%= render :partial=>'/shared/user_util_links' %>                  
        </div>
      </div>
    </div>
  </div>
</div>
