<div id="sidebar" class="span3">
  <%#= render partial: 'shared/side_navbar' %>
</div>

<div id="content" class="span9">
  <%= render_breadcrumbs %>
  <h1>Listing Sections</h1>

  <table id='listSections'>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @sections.each do |section| %>
        <tr>
          <td><%= section.name %></td>
          <td><%= link_to 'Show', section %></td>
          <td><%= link_to 'Edit', edit_section_path(section) %></td>
          <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if @paged %>
    <%= button_to 'New Section', new_paged_section_path(@paged), :class=> "button", :method=> :get %>
  <% else %>
    <%= button_to 'New Section', new_section_path, :class=> "button", :method=> :get %>
  <% end %>

</div>
