<%= form_for(@paged) do |f| %>
  <% if @paged.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paged.errors.count, "error") %> prohibited this paged from being saved:</h2>

      <ul>
      <% @paged.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ol>
  <li>
    <%= f.label :type %><%= f.text_field :type %>
  </li>
  <li>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </li>
  <li class="field">
    <%= f.label :creator %>
    <%= f.text_field :creator %>
  </li>
  <li class="field">
    <%= f.label :publisher %>
    <%= f.text_field :publisher %>
  </li>
    <li class="field">
    <%= f.label :publisher_place %>
    <%= f.text_field :publisher_place %>
  </li>
  <li class="field">
    <%= f.label "Date of Publication" %>
    <%= f.date_field :issued %>
  </li>


  <div class='field'>
    <% if !@paged.new? %>
      Current paged XML file:
      <% if @paged.xml_datastream.has_content? %>
        <%= link_to @paged.xml_datastream.label, ActiveFedora.fedora_config.credentials[:url] + '/' + @paged.xml_datastream.url %>
      <% else %>
        none.
      <% end %>
    <% end %>
    <%= f.label 'New XML file:' %>
    <%= f.file_field :xml_file %>
  </div>
  </ol>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
