<%= form_for(@paged) do |f| %>
  <% if @paged.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paged.errors.count, "error") %> prohibited this paged from being saved:</h2>

      <ul>
      <% @paged.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :creator %><br>
    <%= f.text_field :creator %>
  </div>
  <div class="field">
    <%= f.label :publisher %><br>
    <%= f.text_field :publisher %>
  </div>
  <div class="field">
    <%= f.label "Date of Publication" %><br>
    <%= f.date_field :issued %>
  </div>


  <div class='field'>
    <% if !@paged.new? %>
      Current paged XML file:
      <% if @paged.xml_datastream.has_content? %>
        <%= link_to @paged.xml_datastream.label, ActiveFedora.fedora_config.credentials[:url] + '/' + @paged.xml_datastream.url %>
      <% else %>
        none.
      <% end %>
    <% end %>
    <%= f.label 'New XML file:' %>
    <%= f.file_field :xml_file %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
