<div id="paged_pages">
  <p><strong>Number of pages : </strong><%= paged.pages.size %></p>
  <% session[:came_from] = :paged %>
  <div id="pages">
    <table border="1">
      <tr>
        <td></td>
        <th>Logical Number</th>
        <th>Page ID</th>
        <th>Previous Page</th>
        <th>Next Page</th>
        <th>Links</th>
      </tr>
      <% ordered.each do |page| %>
      <tr>
        <td>
          <% if page.image_datastream.mimeType %>
            <%= link_to image_tag(
                    ActiveFedora.fedora_config.credentials[:url] + "/" + page.image_datastream.url,
                    alt: page.image_datastream.label,
                    height: "64",
                    width: "64"
                  ),
                  page
            %>
          <% end %>
        </td>
        <td class='logical_numbers'><%= page.logical_number %></td>
        <td><%= page.id %></td>
        <td><%= page.prev_page %></td>
        <td><%= page.next_page %></td>
        <td>
          <%= link_to 'Show', page %> |
          <%= link_to 'Edit', edit_page_path(page) %> |
          <%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <div id="add_page_form" style="margin-top:10px; display:none; border:solid 1px #000000">    
    <%= render :partial=>'pages/add_page_form', :local => {:paged => @paged} %>
  </div>
  <div id="add_page">
    <%= link_to "Add Page", "#", class: "show_add_page_form" %>
  </div>
  <div id="cancel_add_page" style="display:none">
    <%= link_to "Cancel", "#", class: "show_add_page_form" %>
  </div>

</div>
