<div id="paged_pages">
  <p><strong>Number of pages : </strong><%= paged.pages.size %></p>  
  <div id="pages">
    <table border="1">
      <tr>
        <th>Logic Number</th>
        <th>Physical Number</th>
      </tr>
      <% paged.pages.each do |page| %>
      <tr>
        <td><%= page.logical_number %></td>
        <td><%= page.physical_number %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div id="add_page">
    <%= link_to_function "Add Page", "show_add_page_form()" %>
  </div>
  <div id="cancel_add_page" style="display:none">
    <%= link_to_function "Cancel Page", "show_add_page_form()" %>
  </div>
  <div id="add_page_form" style="display:none">    
    <%= render :partial=>'pages/add_page_form', :local => {:paged => @paged} %>
  </div>
</div>