<div id="paged_pages" style="padding-bottom:25px;">
  <h3>Manage Pages</h3>
  <!-- <p><strong>Number of pages : </strong><%= paged.children.size %></p> -->
  <% session[:came_from] = :paged %>
  <div  id="pages">
    <table id="paged-pages-table">
      <tr>
        <th></th>
        <th class="paged-pages-table-triple">Page Number</th>
        <th class="paged-pages-table-triple">Identifier</th>
        <th>View Page</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% ordered.each do |page| %>
        <% my_page = Page.find(page['id']) %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td></td>
          <td class='logical_numbers'><%= page['logical_number'] %></td>
          <td><%= my_page.pid %></td>
          <td>
            <%= link_to page_path(page["id"]) do %>
              <i class="fa fa-file-text-o fa-2x"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_page_path(page["id"]) do %>
              <i class="fa fa-pencil fa-2x"></i>
            <% end %>
          </td>
          <td>
            <%= link_to page_path(page["id"]), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="fa-stack ">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-times fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
