<div id="paged_pages">
  <h3><%= paged.title %></h3>
  <p><strong>Number of pages : </strong><%= paged.children.size %></p>
  <% session[:came_from] = :paged %>
  <div id="pages">
    <table border="1">
      <tr>
        <td></td>
        <th>Logical Number</th>
        <th>Page ID</th>
        <th>Links</th>
      </tr>
      <% ordered.each do |page| %>
      <tr>
        <td>
            <%= link_to image_tag(
                    page["ds_url"],
                    height: "64",
                    width: "64"
                  ),
                  page_path(page["id"])
            %>
        </td>
        <td class='logical_numbers'><%= page["logical_number"] %></td>
        <td><%= page["id"] =%></td>
        <td>
          <div style="float:left;">
          <%= button_to 'View', page_path(page["id"]), :method => :get, :style => "display:inline;" %> 
          </div>
          <div style="float:left;">
          <%= button_to 'Edit', edit_page_path(page["id"]), :method => :get, :style => "display:inline;" %> 
          </div>
          <div style="float:left;">
          <%= button_to 'Delete', page_path(page["id"]), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
  <div id="add_page_form" style="margin-top:10px; display:none; border:solid 1px #000000">    
    <%= render :partial=>'pages/add_page_form', :local => {:paged => @paged} %>
  </div>
  <div id="add_page">
    <%= button_to "Add Page", "#", class: "show_add_page_form", :method => :get %>
  </div>
  <div id="cancel_add_page" style="display:none">
    <%= button_to "Cancel", "#", class: "show_add_page_form", :method => :get %>
  </div>

</div>
