<div id="sidebar" class="span3">
  <%= render partial: 'shared/side_navbar' %>
</div>
 
<% i = 0 %>
 
<div id="content" class="span9">
  <%= render_breadcrumbs %>
  
  <table id='listPageds'>
    <tbody>
      <% @pageds.each do |paged| %>  
        <tr style="font-weight: bold;">
          <td><%= i += 1 %>.</td>
          <td><%= link_to paged.title, paged %></td>
          <td rowspan=6>
            <% if @image_urls[paged.pid] %>
              <%= image_tag(@image_urls[paged.pid], height: "100", width: "100" ) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Creator:</td>
          <td><%= paged.creator %></td>
        </tr>
        <tr>
          <td>Publisher:</td>
          <td><%= paged.publisher %></td>
        </tr>
        <tr>
          <td>Publisher Place:</td>
          <td><%= paged.publisher_place %></td>
        </tr>
        <tr>
          <td>Type:</td>
          <td><%= paged.type %></td>
        </tr>
        <tr>
          <td>Issued:</td>
          <td><%= paged.issued %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
 
  <br/><br/>

</div>