<h1>Listing pageds</h1>

<table id='listPageds'>
  <thead>
    <tr>
      <th>Type</th>
      <th>Title</th>
      <th>Creator</th>
      <th>Publisher</th>
      <th>Date of Publication</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @pageds.each do |paged| %>
      <tr>
        <td><%= paged.type %></td>
        <td><%= paged.title %></td>
        <td><%= paged.creator %></td>
        <td><%= paged.publisher %></td>
        <td><%= paged.issued %></td>
        <td><%= link_to 'View in BookReader', bookreader_paged_path(paged) + '#page/1/mode/2up' %></td>
        <td><%= link_to 'Show', paged %></td>
        <td><%= link_to 'Edit', edit_paged_path(paged) %></td>
        <td><%= link_to 'Destroy', paged, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Paged', new_paged_path, :class=> "button", :method=> :get %>
