<div id="sidebar" class="span3">
  <%= render partial: 'shared/side_navbar' %>
</div>

<div id="content" class="span9">
  <%= render_breadcrumbs %>
  <p id="notice"><%= notice %></p>
  
  <h2><%= @paged.title %></h2>
  
  <div class="pmp_paged_info">
    <ul>
      <li>Type: <%= @paged.type %></li>
      <li>Title: <%= @paged.title %></li>
      <li>Creator: <%= @paged.creator %></li>
      <li>Publisher: <%= @paged.publisher %></li>
      <li>Place of Publication: <%= @paged.publisher_place %></li>
      <li>Date of Publication: <%= @paged.issued %></li>
      <li>XML file:
        <% if @paged.xml_file.has_content? %>
          <%= link_to @paged.xml_datastream.label,
                      ActiveFedora.fedora_config.credentials[:url] +
                        '/' + @paged.xml_datastream.url %>
        <% else %>
          none.
        <% end %>
      </li>
    </ul>
    <div>
      <%= button_to 'Update', edit_paged_path(@paged), :method => :get %>
    </div>
  </div>
  
  <!-- Cover Image -->
  <div style="float:left; padding-left:50px; text-align:center;">
    <% if @ordered[0] %>
      <%= image_tag(@ordered[0]["ds_url"], height: "100", width: "100" ) %>
    <% end %>
    <%= button_to 'View in BookReader', bookreader_paged_path(@paged) + '#page/1/mode/2up', target: "_blank", :method => :get %>
  </div>
  
  <div style="clear:both;"></div>
  
  <%# link_to 'View in BookReader', bookreader_paged_path(@paged) + '#page/1/mode/2up', target: "_blank"%> 
  <%# link_to 'Edit', edit_paged_path(@paged) %> 
  <%# link_to 'Back', pageds_path %>
  
  <div id='pages'>
    <%= render :partial=>'paged_pages', :locals => { :paged => @paged, :ordered => @ordered } %>
  </div>
  
  <%= render partial: 'reorder_pages', locals: { paged: @paged, ordered: @ordered } %>

</div>
