<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @paged.title %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @paged.creator %>
</p>

<%= link_to 'Edit', edit_paged_path(@paged) %> |
<%= link_to 'Back', pageds_path %>

<hr/>

<div id='pages'>
  <%= render :partial=>'paged_pages', :locals => { :paged => @paged} %>
</div>




