<div id="sidebar" class="span3">
  <%= render partial: 'shared/side_navbar' %>
</div>

<div id="content" class="span9">
  
  <p id="notice"><%= notice %></p>
  
  <h2><%= @paged.title %></h2>
  
  <ul>
    <li>Type: <%= @paged.type %></li>
    <li>Title: <%= @paged.title %></li>
    <li>Creator: <%= @paged.creator %></li>
    <li>Publisher: <%= @paged.publisher %></li>
    <li>Place of Publication: <%= @paged.publisher_place %></li>
    <li>Date of Publication: <%= @paged.issued %></li>
    <li>XML file:
      <% if @paged.xml_file.has_content? %>
        <%= link_to @paged.xml_datastream.label,
                    ActiveFedora.fedora_config.credentials[:url] +
                      '/' + @paged.xml_datastream.url %>
      <% else %>
        none.
      <% end %>
    </li>
  </ul>
  
  <%= link_to 'View in BookReader', bookreader_paged_path(@paged) + '#page/1/mode/2up', target: "_blank"%> |
  <%= link_to 'Edit', edit_paged_path(@paged) %> |
  <%= link_to 'Back', pageds_path %>
  
  <hr/>
  
  <div id='pages'>
    <%= render :partial=>'paged_pages', :locals => { :paged => @paged, :ordered => @ordered } %>
  </div>
  
  <%= render partial: 'reorder_pages', locals: { paged: @paged, ordered: @ordered } %>

</div>
