<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <ol>
    <li>
      <%= f.label :logical_number %>
      <%= f.text_field :logical_number %>
    </li>
    
    <!-- Display all available Metadata fields according to local file -->
    <% if @paged && (i18n_set? 'pagemedia.' + @paged.type + '.fields') %>
      <% vocabs =  I18n.t 'pagemedia.' + @paged.type + '.fields' %>
    <% else %>
      <% vocabs =  I18n.t 'pagemedia.default.fields' %>
    <% end %>
    <% vocabs.each do |vocab, fields| %>
      <% fields.each do |key, value| %>
        <% if (@page.respond_to? key) %>
          <li>
            <%= f.label value %>
            <%= f.text_field key %>
          </li>
        <% end %>
      <% end %>
    <% end %>
    
    <li>
      <%= f.label 'Previous page:' %>
      <%= f.text_field :prev_sib %>
    </li>
    <li>
      <%= f.label 'Next page:' %>
      <%= f.text_field :next_sib %>
    </li>
    <!-- OCR File -->
    <% if !@page.new? %>
    <li>
      <span class="form_label">Current OCR File</span>
      <span class="form_field">
        <%= link_to @page.ocr_datastream.label, ActiveFedora.fedora_config.credentials[:url] + '/' + @page.ocr_datastream.url %>
      </span>
    </li>
    <% end %>
    <li>
      <%= f.label 'New OCR file:' %>
      <%= f.file_field :ocr_file %>
    </li>
    <li>&nbsp;</li> 
    <!-- XML File -->
    <% if !@page.new? %>
    <li>&nbsp;</li>  
    <li>
      <span class="form_label">Current XML file</span>
      <span class="form_field">
      <% if @page.xml_datastream.has_content? %>
        <%= link_to @page.xml_datastream.label, ActiveFedora.fedora_config.credentials[:url] + '/' + @page.xml_datastream.url %>
      <% else %>
        none.
      <% end %>
      </span>
    </li>
    <% end %>
    <li>
      <%= f.label 'New XML file:' %>
      <%= f.file_field :xml_file %>
    </li>
    <li>&nbsp;</li>
    <!-- Page image -->
    <li>
      <% if !@page.new? %>
      <span class="form_label">Current image</span>
      <span class="form_field">
      <img alt='<%=  @page.image_datastream.label %>'
           src='<%=  ActiveFedora.fedora_config.credentials[:url] %>/<%=  @page.image_datastream.url %>'
           width='128' height='128' />
      <!-- FIXME if our Fedora instance is inaccessible then we need another way to do this -->
      </span>
      <% end %>
      <%= f.label 'New page image file:' %>
      <%= f.file_field :image_file %>
    </li>
  </ol>
  
  <div class="actions page_submit">
    <% if !@page.new? %>
      <%= f.submit "Update"%>
    <% else %>
      <%= f.submit "Create"%>
    <% end %>
  </div>
  
<% end %>
