<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :logical_number %><br>
    <%= f.text_field :logical_number %>
  </div>
  <div class="field">
    <%= f.label :physical_number %><br>
    <%= f.text_field :physical_number %>
  </div>
  <div class='field'>
    <% if !@page.new? %>
      Current image:<br />
      <img alt='<%=  @page.image_datastream.label %>'
           src='<%=  ActiveFedora.fedora_config.credentials[:url] %>/<%=  @page.image_datastream.url %>'
           width='128' height='128' />
      <!-- FIXME if our Fedora instance is inaccessible then we need another way to do this -->
    <% end %>
    <%= f.label 'New page image file:' %>
    <%= f.file_field :image_file %>
  </div>
  <div class='field'>
    <% if !@page.new? %>
      Current File :
      <%= link_to @page.ocr_datastream.label, ActiveFedora.fedora_config.credentials[:url] + '/' + @page.ocr_datastream.url %>
    <% end %>
    <%= f.label 'New OCR file:' %>
    <%= f.file_field :ocr_file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
