<div id="sidebar" class="span3">
  <%= render partial: 'shared/side_navbar' %>
</div>

<div id="content" class="span9">
  <%= render_breadcrumbs %>
  <h1>Listing pages</h1>
  
  <table>
    <thead>
      <tr>
        <th>Logical number</th>
        <th>Previous page</th>
        <th>Next page</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.logical_number %></td>
          <td><%= page.prev_sib %></td>
          <td><%= page.next_sib %>
          <td><%= link_to 'Show', page %></td>
          <td><%= link_to 'Edit', edit_page_path(page) %></td>
          <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'New Page', new_page_path %>

</div>
