<div id="sidebar" class="span3">
  <%#= render partial: 'shared/side_navbar' %>
</div>

<div id="content" class="span9">
  <%= render_breadcrumbs %>
  <i class='fa fa-cog fa-2x'
     onclick='show_sibling_popup()'
     style='cursor: pointer; float: right;'></i>
  <p id="notice"><%= notice %></p>

  <h1>Page <%= @page.id %></h1>

  <!-- FIXME if our Fedora instance is inaccessible then we need another way to do this -->
  
  <div class="pmp_paged_info">
    <ul>
      <li>Logical Number: <%= @page.logical_number %></li>
      <% if @paged %>
      <li>
        Page from:
        <%= link_to @paged.title, paged_path(@paged) %>
      </li>
      <% end %>
      
      <% if @paged && (i18n_set? 'pagemedia.' + @paged.type + '.fields') %>
        <% vocabs =  I18n.t 'pagemedia.' + @paged.type + '.fields' %>
      <% else %>
        <% vocabs =  I18n.t 'pagemedia.default.fields' %>
      <% end %>
      <% vocabs.each do |vocab, fields| %>
        <% fields.each do |key, value| %>
          <% if (@page.respond_to? key) && (@page.send(key) != NIL) %>
           <li><%= t(value)%>: <%= @page.send(key) %></li>
          <% end %>
        <% end %>
      <% end %>
      
      <li>Parent Paged: <%= @page.parent %></li>
      <li>Previous Page: <%= @page.prev_sib %></li>
      <li>Next Page: <%= @page.next_sib %></li>
      <% if @page.ocr_file %>
      <li>  
        OCR File: <%= link_to @page.ocr_datastream.label, ActiveFedora.fedora_config.credentials[:url] + '/' + @page.ocr_datastream.url %> 
      </li>
      <% end %>
      <li>
        XML file:
       <% if @page.xml_file.has_content? %>
         <%= link_to @page.xml_datastream.label,
              ActiveFedora.fedora_config.credentials[:url] +
              '/' + @page.xml_datastream.url %>
        <% else %>
          none.
        <% end %>
    </ul>
  </div>
  
  <div style="float:left; padding-left:50px; text-align:center;">
    <a href="<%=  ActiveFedora.fedora_config.credentials[:url] %>/<%=  @page.image_datastream.url %>">
      <img alt='<%=  @page.image_datastream.label %>'
           src='<%=  ActiveFedora.fedora_config.credentials[:url] %>/<%=  @page.image_datastream.url %>'
           width='128' height='128'
           style='margin-right: 10px; float: left;'/>
    </a>
  </div>  
      
  <div style="clear:both"></div>    
  
  <%= link_to 'Edit', href: edit_page_path(@page), title: 'Edit' do %>
    <i class='fa fa-pencil fa-2x'></i>
  <% end %> |
  <%= link_to 'Back', href: pages_path(), title: 'Back' do %>
    <i class='fa fa-hand-o-left fa-2x'></i>
  <% end %>

</div>
