      <% # header bar for doc items in index view -%>
      <div class="documentHeader clearfix">
        
        <%- # main title container for doc partial view -%>
         <h5 class="index_title">
           <span class="index_number">
             <% counter = document_counter_with_offset(document_counter) %>
             <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
           </span>
          <% if document.respond_to?(:document_type) and document.document_type == "Paged" %>
              <a href='pageds/<%= document.id %>'>
	        <% if document.has_key?('title_tesim') %>
		  <%= document['title_tesim'][0] %>
		<% else %>
		  <%= t 'pmp.document.untitled.title' %>
		<% end %>
              </a>
          <% elsif document.respond_to?(:document_type) and document.document_type == "Page" %>
              <a href='pages/<%= document.id %>'>
	        <% if document.has_key?('logical_number_tesim') %>
		  <%= document['logical_number_tesim'][0] %>
		<% else %>
		  <%= t 'pmp.document.untitled.title' %>
		<% end %>
              </a>
          <% else %>
            <%= link_to_document document, :label=>document_show_link_field(document), :counter => counter %>
          <% end %>
        </h5>        

        <% # bookmark functions for items/docs -%>
        <%= render_index_doc_actions document, :wrapping_class => "documentFunctions span2" %>
      </div>
